doctype html
html(lang="en", ng-app="cipherSuite")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        title Cipher Suite

        include css-library.pug
        include js-library.pug
    body
        md-nav-bar(md-selected-nav-item="currentNavItem", nav-bar-aria-label="navBar", ng-contoller="navCtrl")
            md-nav-item(md-nav-href="#!/home", aria-label="Home", name="Home")
                ng-md-icon(icon="home")
                span(class="navName") Home
            md-nav-item(md-nav-href="#!/symmetric", aria-label="Symmetric", name="Symmetric")
                ng-md-icon(icon="dashboard")
                span(class="navName") Symmetric
            md-nav-item(md-nav-href="#!/asymmetric", aria-label="Asymmetric", name="Asymmetric")
                ng-md-icon(icon="dashboard")
                span(class="navName") Asymmetric
        div(ng-view, ng-cloak)