//- [ Vendor JS ]
script(type="text/javascript", src="node/angular/angular.js")
script(type="text/javascript", src="node/angular-material/angular-material.js")
script(type="text/javascript", src="node/angular-animate/angular-animate.js")
script(type="text/javascript", src="node/angular-aria/angular-aria.js")
script(type="text/javascript", src="node/angular-route/angular-route.js")
script(type="text/javascript", src="node/angular-material-icons/angular-material-icons.js")
script(type="text/javascript", src="node/fusioncharts/fusioncharts.js")
script(type="text/javascript", src="js/vendor/angular-fusion-charts.js")

//- [ Custom JS ]
script(type="text/javascript", src="js/cipherSuite.js")
script(type="text/javascript", src="js/factories/apiFactory.js")
script(type="text/javascript", src="js/controllers/navBar.js")
script(type="text/javascript", src="js/controllers/symmCtrl.js")
script(type="text/javascript", src="js/controllers/asymmCtrl.js")
script(type="text/javascript", src="js/controllers/customCtrl.js")
