<md-content class="md-padding" layout="column">
  <div layout-gt-xs="row">
    <md-card flex>
      <md-card-title>
        <md-card-title-text>Custom Cipher Picking</md-card-title-text>
      </md-card-title>
      <md-card-content>
        <div>
          <form name="encryptForm" enctype="multipart/form-data">
            <div layout-gt-xs="row">
              <md-input-container class="md-block" flex-gt-xs>
                <label>Encryption Types</label>
                <md-select ng-model="selectedParams.type" ng-change="getAlgorithms()">
                  <md-option value="symmetric">Symmetric</md-option>
                  <md-option value="asymmetric">Asymmetric</md-option>
                  <md-option value="hash">Hash</md-option>
                </md-select>
              </md-input-container>
              <md-input-container class="md-block" flex-gt-xs ng-if="selectedParams.type !== null">
                <label>{{ selectedParams.type | uppercase }} Algorithms</label>
                <md-select ng-model="selectedParams.algorithm" ng-change="getSizes()">
                  <md-option ng-repeat="algo in selectedParams.algorithmList" ng-value="algo">{{ algo }}</md-option>
                </md-select>
              </md-input-container>
              <!-- <md-input-container class="md-block" flex-gt-xs ng-if="selectedParams.sizes.length > 0">
                <label>{{ selectedParams.algorithm | uppercase }} Key Sizes</label>
                <md-select ng-model="selectedParams.keySize">
                  <md-option ng-repeat="size in selectedParams.sizes" ng-value="size">{{ size }} bits</md-option>
                </md-select>
              </md-input-container> -->
            </div>
            <!-- <div layout-gt-xs="row" ng-if="selectedParams.type !== null && selectedParams.algorithm !== null">
              <fieldset class="standard" flex>
                <legend>Input Type</legend>
                <md-radio-group ng-model="selectedParams.inputType" layout="row" layout-align="space-around" flex>
                  <md-radio-button value="text" class="md-primary">Text</md-radio-button>
                  <md-radio-button value="file" class="md-primary">File</md-radio-button>
                </md-radio-group>
              </fieldset>
            </div> -->
            <div layout-gt-xs="row">
              <md-input-container class="md-block" flex-gt-xs ng-if="selectedParams.algorithm !== null">
                <label>Text Input</label>
                <input ng-model="selectedParams.plainText" type="text">
              </md-input-container>
              <!-- <md-input-container class="md-block" flex-gt-xs ng-if="selectedParams.inputType === 'file'">
                <label>File Upload</label>
                <input type="file" file-upload="myFile">
              </md-input-container> -->
            </div>
            <div layout-gt-xs="row">
              <md-input-container class="md-block" flex-gt-xs ng-if="selectedParams.inputType !== null && selectedParams.type !== 'hash'">
                <label>Password</label>
                <input ng-model="selectedParams.password" type="text">
              </md-input-container>
            </div>
            <div layout-gt-xs="row">
              <md-button flex class="md-raised md-primary" ng-click="submit()">Submit</md-button>
              <md-button flex class="md-raised md-warn" ng-click="reset()">Reset</md-button>
            </div>
          </form>
        </div>
      </md-card-content>
    </md-card>
    <md-card flex ng-if="results.output">
      <md-card-title>
        <md-card-title-text>Algorithm Result Information</md-card-title-text>
      </md-card-title>
      <md-card-content flex>
        <div layout="column" layout-align="start">
          <div layout-gt-xs="row">
            <div class="leftCol">Original Input: </div>
            <div class="rightCol">{{ results.input }}</div>
          </div>
          <div layout-gt-xs="row">
            <div class="leftCol">Algorithm: </div>
            <div class="rightCol">{{ results.algorithm }}</div>
          </div>
          <div layout-gt-xs="row" ng-if="results.keySize">
            <div class="leftCol">Key Size: </div>
            <div class="rightCol">{{ results.keySize }}</div>
          </div>
          <div layout-gt-xs="row">
            <div class="leftCol">Cipher: </div>
            <div class="rightCol">{{ results.output }}</div>
          </div>
          <div layout-gt-xs="row" ng-if="results.iv">
            <div class="leftCol">IV: </div>
            <div class="rightCol">{{ results.iv }}</div>
          </div>
          <div layout-gt-xs="row" ng-if="results.key">
            <div class="leftCol">KEY: </div>
            <div class="rightCol">{{ results.key }}</div>
          </div>
          <div layout-gt-xs="row" ng-if="results.keyPair.public">
            <div class="leftCol">Public Key: </div>
            <div class="rightCol">{{ results.keyPair.public }}</div>
          </div>
          <div layout-gt-xs="row" ng-if="results.keyPair.private">
            <div class="leftCol">Private Key: </div>
            <div class="rightCol">{{ results.keyPair.private }}</div>
          </div>
        </div>
      </md-card-content>
    </md-card>
  </div>
  <div layout-gt-xs="row">
    <md-card flex ng-if="delayData.decryptSource.dials.dial[0].value !== 0">
      <md-card-title>
        <md-card-title-text>Decryption Delay</md-card-title-text>
      </md-card-title>
      <md-card-content>
          <div fusioncharts width="100%" type="angulargauge" dataSource="{{ delayData.decryptSource }}"></div>
      </md-card-content>
    </md-card>
    <md-card flex ng-if="delayData.encryptSource.dials.dial[0].value !== 0">
      <md-card-title>
        <md-card-title-text>Encryption Delay</md-card-title-text>
      </md-card-title>
      <md-card-content>
        <div fusioncharts width="100%" type="angulargauge" dataSource="{{ delayData.encryptSource }}"></div>
      </md-card-content>
    </md-card>
    <md-card flex ng-if="delayData.keyPairSource.dials.dial[0].value !== 0">
      <md-card-title>
        <md-card-title-text>Key Pair Delay</md-card-title-text>
      </md-card-title>
      <md-card-content>
          <div fusioncharts width="100%" type="angulargauge" dataSource="{{ delayData.keyPairSource }}"></div>
      </md-card-content>
    </md-card>
  </div>
</md-content>