<div class="md-padding" layout="column">
    <div layout-gt-xs="row">
        <md-card flex>
            <md-card-title>
                <md-card-title-text>Overall Timing</md-card-title-text>
            </md-card-title>
            <md-card-content>
                <div fusioncharts width="100%" height="500" type="column3d" dataSource="{{ fastSlowData }}"></div>
            </md-card-content>
        </md-card>
    </div>
    <div layout-gt-xs="row">
        <md-card flex>
            <md-card-title>
                <md-card-title-text>Encryption</md-card-title-text>
            </md-card-title>
            <md-card-content>
                <div ng-click="filterChart()" fusioncharts width="100%" height="1800" type="bar2d" dataSource="{{ symmetricEncryptData }}"></div>
            </md-card-content>
        </md-card>
        <md-card flex>
            <md-card-title>
                <md-card-title-text>Decryption</md-card-title-text>
            </md-card-title>
            <md-card-content>
                <div fusioncharts width="100%" height="1800" type="bar2d" dataSource="{{ symmetricDecryptData }}"></div>
            </md-card-content>
        </md-card>
    </div>
    <div layout-gt-xs="row">
        <md-card flex>
            <md-card-title>
                <md-card-title-text>Encryption Average Timing</md-card-title-text>
            </md-card-title>
            <md-card-content>
                <div fusioncharts width="100%" height="300" type="angulargauge" datasource="{{ encAvgData }}"></div>
            </md-card-content>
        </md-card>
        <md-card flex>
            <md-card-title>
                <md-card-title-text>Decryption Average Timing</md-card-title-text>
            </md-card-title>
            <md-card-content>
                <div fusioncharts width="100%" height="300" type="angulargauge" datasource="{{ decAvgData }}"></div>
            </md-card-content>
        </md-card>
    </div>
</div>