fieldset legend {
    font-size: 12px;
}

md-checkbox .md-container {
    top: 75%;
}

md-checkbox .md-label {
    top: 30%;
}

.animate-if {
    &.ng-enter, &.ng-leave {
        transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    &.ng-enter, &.ng-leave.ng-leave-active {
        opacity: 0;
        left: 0;
    }

    &.ng-leave, &.ng-enter.ng-enter-active {
        opacity: 1;
        left: -1000px;
    }
}

.leftCol, .rightCol {
    padding: 10px;
}

.leftCol {
    font-weight: 700;
    color: #73b532;
}

.rightCol {
    overflow: hidden;
    overflow-wrap: break-word;
}